<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Direct Debit Processing Calendar</h1>
    <div>
        <form action="#" method="GET" id="getDates">
            <label for="year-select">Choose a year:</label>
            <select name="year" id="year-select">
                <option selected>Select a year</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
            <button>Give me dates</button>
        </form>
    </div>
    <div id="results"></div>
    <div id="processingDays"></div>
    <script src="js/functions.js"></script>
</body>

</html>