html {
    box-sizing: border-box;
    font-size: 100%;
    /* line-height: 1.56; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text-1);
    /* font-size: 18px; */
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

main {
    /* display: flex;
    flex-direction: column; */
}

section {
    padding: 20px 0;
}

.wrapper {
    width: 90%;
    margin-inline: auto;
}

.accordion-body {
    padding: 0px;
}

#results {
    display: none;
}

#copyButton {

}

button {
    margin: 10px;
}

.form-button {
    margin-left: 0;
}

.table {
    margin: 0;
}

.accordion-item {
    background: var(--background);
}

.tooltip--standard {
    --bs-tooltip-bg: var(--bs-primary);
    --bs-tooltip-color: var(--bs-light);
}

.tooltip--warning {
    --bs-tooltip-bg: var(--bs-warning);
    --bs-tooltip-color: var(--bs-dark);
}

.tooltip.show {
    opacity: 1;
}


/* Tooltip question icon */
.fa-solid {
    color: var(--bs-standard);
}

.extra-dates {
    background: var(--bs-dark);
}



/* 
table {
    width: 90%;
    text-align: center;
}

 tr>:nth-child(1) {
    background: #d1e7dd;
} 

tr, td {
    width: 100px;
    height: 20px;
    background: #c5d7f2e0;
}

tr:nth-of-type(1) {
    background: rgb(82, 159, 185);
    border: 2px solid black;
    font-weight: bold;
}

tr:nth-child(2n) {
    background: #cfe2ff;
    color: black;
}

tr:nth-of-type(2) {
    background: rgb(124, 195, 219);
} */